* {
    display: inline-block;
    text-align: center;
}

#layout {
    font-size: 22px;
}
#red {
    color: red;
}

#green {
    color: green;
}

.box1 {
    float: left;
    min-width: 300px;
    border-left: 1px solid black;
    padding: 0 1rem;
    white-space: nowrap;
}

.box2 {
    min-width: 300px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 0 1rem;
    white-space: nowrap;
}

.box3 {
    min-width: 300px;
    border-right: 1px solid black;
    padding: 0 1rem;
    white-space: nowrap;
}

.box4 {
    min-width: 300px;
    border-right: 1px solid black;
    padding: 0 1rem;
    white-space: nowrap;
}